#partners{
    margin-bottom: 50px;
}

#partners h3{
    font-weight: bold;
    text-align: left;
    margin-left: 25px;
}

#partners .owl-item {
    all: unset;
}

#partners .owl-item .item {
    all: unset;
    
}

#partners .owl-item img {
    width: 115px !important;
    height: 70px;
    object-fit: contain;
    cursor: pointer;
}


#partners .owl-dots {
   display: none;
}

.partners-carousel{
    /* border: 1px solid rgba(0,0,0,.08); */
   padding: 20px;
   width: 96%;
   margin: auto;
}