.product-headline {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 50px 0 30px;
}
.product-info {
  display: flex;
  gap: 120px;
  margin-top: 40px;
}

.product-headline .product-status {
  display: flex;
  gap: 40px;
}
.product-headline .product-status {
  font-size: 12px;
  color: #282828;
  display: flex;
  font-weight: 700;
}
.product-headline .product-status .success {
  color: rgb(125, 168, 38);
}
.product-headline .product-status .success img {
  margin-right: 10px;
}
.product-feedback {
  display: flex;
  gap: 10px;
}

.product-feedback button {
  all: unset;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  padding: 0 6px;
  font-size: 14px;
  height: 40px;
  font-weight: 300;
}

.product-feedback button:hover svg rect {
  background: red;
  fill: red;
}

.product-feedback button:hover svg path {
  background: red;
  fill: white;
}
.product-feedback button:hover {
  background: red;
  fill: red;
  color: white;
}

.product-feedback button .vcomob {
  display: none;
}

.product-feedback button span {
  margin-left: 10px;
}

.product-img {
  width: 40%;
  position: relative;
}
.details-img-top {
  position: absolute;
  left: 20%;
  top: -60px;
  font-size: 12px !important;
  display: flex;
  gap: 10px;
  align-items: center;
  height: 30px !important;
}

.product-info-right {
  text-align: left;
  width: 48%;
}

#product_details > div.product-info > div.product-info-right > div.wrapper {
  height: fit-content !important;
}
.details-img-top .no_fee,
.details-img-top .no_comission,
.details-img-top .best_selling {
  padding-inline: 3px;
  font-weight: 500;
  font-size: 14px;
}

.big-photo img {
  width: 400px;
  height: 380px;
}

.label_popovers {
  display: flex;
}

.label_popovers a img {
  width: 90px;
}

.color {
  display: flex;
  gap: 10px;
}
.color button {
  all: unset;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid gray;
  position: relative;
}

.color .black {
  background-color: black;
}

.color .red {
  background-color: red;
}

.color .green {
  background-color: green;
}
.color .blue {
  background-color: blue;
}
.color .white {
  background-color: white;
}

.product-info-right p {
  font-size: 14px;
  font-weight: 500;
}

.product-info .wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.saled_price {
  width: 57px;
  height: 25px;
  background-color: red;
  font-size: 15px !important;
  font-weight: bold !important;
  color: white;
  border-radius: 5px;
  padding: 2px 7px;
}
.color button:active {
  border-color: #282828;
}
.grid-price {
  font-size: 27px !important;
  font-weight: bold !important;
  display: flex;
  align-items: center;
  gap: 10px;
}

.grid-price span {
  font-size: 16px;
  font-weight: 500;
}

.credit-calculation {
  height: 60px !important;
  margin-top: 40px;
}

.title-right {
  display: flex;
  align-items: center;
  gap: 5px;
}
.credit-calculation .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold !important;
  width: 83%;
}

.credit-calculation .title p {
  font-size: 16px;
  font-weight: 700;
}

.credit-calculation .title img {
  width: 30px;
}
.payment-option {
  display: flex;
  justify-content: space-between;
}

.payment-info ul {
  display: flex;
  gap: 5px;
}

.payment-info ul li {
  width: 30%;
  background-color: #ebebeb;
  border-radius: 5px;
  height: 70px;
  padding: 0 10px;
  text-align: center;
}

.payment-info ul li:first-child {
  width: 17%;
  background-color: red;
  border-radius: 5px;
  height: 45px;
  padding: 0 10px;
  color: white;
}

.payment-info ul li:first-child p {
  font-size: 20px;
  margin-top: 8px;
}
.range-section {
  width: 50%;
  position: relative;
}

.range-section ul {
  all: unset;
  list-style: none;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.range-section ul p {
  position: relative;
}

.range-section ul p::after {
  content: "";
  position: absolute;
  top: -9px;
  width: 1.5px;
  right: 50%;
  border-top: 11px solid #e3e3e4;
}
.range-section ul li {
  margin-right: 57px;
}
.range-container input {
  accent-color: red;
  cursor: pointer;
  width: 285px;
  height: 4px;
  hyphens: 20px;
}



.range-tooltip {
  text-align: right;
}
.range-tooltip span {
  width: 30px;
  height: 20px;
  background: red;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid white;
  padding: 3px;
  position: relative;
}

.range-tooltip span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: 0px;
  border-bottom: 8px solid transparent;
  border-left: 8px solid red;
  transform: rotate(225deg);
  width: 20px;
}
.product-info .buy {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.product-info .buy button {
  all: unset;
  background: #ebebeb;
  padding: 10px 40px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.5s;
  cursor: pointer;
}

.product-info .buy button:hover {
  background: red;
  color: white !important;
}

.product-info .buy button:first-child {
  color: red;
}

#review-tabs {
  margin: 100px auto 100px;
  width: 95%;
}

#review-tabs .tabs {
  display: flex;
  justify-content: flex-end;
}
#review-tabs .nav-tabs .nav-link {
  padding: 10px;
  color: black !important;
  background-color: #edf1f5;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

.nav-item {
  border-bottom: none !important;
}

.nav-link.active {
  background: transparent !important;
}
.tab-pane {
  border: 1px solid #e3e3e4;
  padding: 10px;
}

.features-review-tabs {
  all: unset !important;
  list-style: none !important;
}

.features-review-tabs li {
  padding-left: 10px;
  height: 40px;
  text-align: left;
  font-size: 17px;
  display: flex;
  align-items: center;
  font-weight: 300;
}
.gray-line {
  background-color: #f9fbfc;
}
