#seasonSale {
    margin-bottom: 50px;
  }
  
  #seasonSale > div > div > div.owl-dots {
    all: unset;
    position: absolute;
    right: 150px;
    z-index: 999;
    display: flex;
    gap: 5px;
    bottom: -30px;
    right: 20px;
  }
  #seasonSale > div > div > div.owl-dots > button.owl-dot.active {
    background-color: black;
  }
  
  #seasonSale .owl-carousel {
    position: relative;
  }
  
  .daily-discount-bottom .see-all-sale{
      font-size: 18px;
  }
  .daily-discount-bottom {
    position: relative;
    width: 96%;
    margin: auto;
    background-color: #f0f1f2;
    border: 2px solid rgba(0, 0, 0, 0.08);
    transition: all 0.6s;
    padding: 10px;
    height: 50px;
    transition: all 0.6s;
  }
  
  .daily-discount-bottom:hover{
      background-color: red;
      color: white;
      cursor: pointer;
  }
  