@font-face {
  font-family: "montserrat"; /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap")
      format("truetype");
}

* {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
#root{
  overflow-x: hidden;
}
#homeTop {
  margin-top: 30px;
  margin-bottom: 50px;
}
.product-menu {
  all: unset;
  display: grid;
  grid-template-columns: 19% 59% 21%;
  column-gap: .7rem;
  row-gap: .7rem;
}
.sidebar-menu {
  all: unset;
  list-style: none;
  position: relative;
}

.sidebar-menu li {
  padding: 13px;
  transition: all 0.3s;
}

.sidebar-menu .menu-open {
  position: absolute;
  /* right: -990px; */
  left: 253px;
  background-color: white;
  z-index: 999;
  top: -1px;
  bottom: -1px;
  /* height: 716px; */
  max-width: 969px;
  min-width: 969px;
  transition: all 0.3s linear;
  opacity: 0;
  transform: scaleY(0);
}

.sidebar-menu .icon .loaded {
  width: 22px;
  max-height: 30px;
}

.sidebar-menu .icon .active {
  display: none;
  width: 22px;
  max-height: 30px;
}

.sidebar-menu li:hover .menu-open {
  opacity: 1;
  transform: scale(1);
}

.menulicontainer {
  margin-bottom: 10px;
}
.menulicontainer a {
  font-size: 14px !important;
  font-weight: 300 !important;
  letter-spacing: -0.32px !important;
  color: #545353;
}
.menu-open span {
  font-weight: bold;
  color: black !important;
}
.menu-open ul {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.menu-open ul li a:hover {
  color: red !important;
}

.menu-open img {
  width: 220px;
  height: 230px;
  margin-bottom: 10px;
}
.product-menu li a .title {
  width: 100%;
  font-size: 14px;
  letter-spacing: -0.32px;
  font-weight: 500;
  line-height: 21px;
  color: #545353;
  position: relative;
  text-align: left;
  position: relative;
}

.sidebar-menu li a {
  display: flex;
  gap: 15px;
  font-size: 15px;
  font-weight: 300;
  color: black !important;
}
.product-menu li:not(.menu-open li):hover {
  background-color: rgba(204, 202, 202, 0.729);
  cursor: pointer;
}

.product-menu li:hover .title::after {
  opacity: 0;
}

.sidebar-menu li a .title::after {
  content: "";
  position: absolute;
  width: calc(100% - 10px);
  opacity: 0.1;
  left: 0;
  margin-top: 32px;
  border-bottom: 1px solid #253444;
}
#homeTop > div > ul > li:nth-child(14) > a > span::after {
  border-bottom: none;
}



.carousel-inner,
.carousel-right-container,
.delivery-container,
.sidebar-menu .menu-open,
.sidebar-menu,
.home-top-bottom-left,
.home-top-bottom-right {
  border: 2px solid rgba(0, 0, 0, 0.08);
}
.carousel-inner-right {
  border: none;
  height: 380px !important;
}

.carousel-inner-right img {
  margin-top: 20px;
  width: 180px !important;
  height: 180px !important;
  margin: auto;
  object-fit: cover;
}
.carousel-inner-right h6 {
  margin: 10px auto 20px auto;
  font-size: 16px;
  width: 90%;
}

.home-top-right {
  text-align: center;
}
.countdown-wrapper {
  display: flex;
  justify-content: center;
  font-size: 20px;
  gap: 10px;
  margin-bottom: 10px;
  font-weight: 300;
}
.carousel-right-container h5 {
  margin-top: 15px;
  font-weight: bold;
}

.countdown-wrapper .time-text {
  font-size: 12px;
  color: gray;
}

.carousel-indicators li {
  background: red;
  width: 8px;
  height: 8px;
  gap: 10px;
  border-radius: 50%;
}
.carousel-indicators {
  gap: 10px;
  bottom: 30px;
}
.carousel-item-info {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: auto;
  padding: 15px 0 15px 0;
}
.carousel-item-info_left {
  display: flex;
  flex-direction: column;
}
.azn_span {
  font-family: "montserrat";
}
.add-to-basket {
  all: unset;
  background-color: yellowgreen;
  border-radius: 4px;
  color: white;
  padding: 2px 6px;
  font-weight: 500;
  transition: all 0.4s;
}

.add-to-basket:hover {
  background: rgb(115, 154, 38);
}
.old_price {
  text-decoration: line-through;
  text-decoration-color: red !important;
}

.current_price {
  font-weight: bold;
  color: red;
}
.carousel-item-info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.delivery-container {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.delivery-info img {
  margin-bottom: 10px;
}
.delivery-info p:nth-child(2) {
  font-size: 12px;
  font-weight: bold;
  line-height: 0;
}
.delivery-info p:nth-child(3) {
  font-size: 12px;
  color: gray;
  width: 80%;
  margin: auto;
  line-height: 20px;
}
.see-all-sale {
  font-size: 15px;
  font-weight: bold;
  height: 30px;
}
.sale-bottom {
  background: rgb(230, 227, 227);
  width: 100%;
  padding: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.sale-bottom:hover {
  background: red;
  color: white;
}

.home-top-bottom {
 display: grid;
 grid-template-columns: repeat(2,49.5%);
 justify-content: space-between;
  width: 137%;
}
.home-top-bottom img {
  width: 100%;
  height: 150px;
}


.home-top-center{
  display: grid;
  row-gap: .7rem;
}




